body{
    background-color: khaki;
}

h1
{
    color:lawngreen;
    background-color: lemonchiffon;
}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid lightblue;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 3px 3px lightcoral,-1em 0 .4em lightcyan;}
    to {box-shadow: 3px 3px lightgreen,-1em 0 .4em lightpink;}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}